<%= form_for(@note) do |f| %>
    <div class='form-row'>
        <%= f.label :title%>
        <%= f.text_field :title %>
    </div>
    <div class='form-row'>
        <%= f.label :content %>
        <%= f.text_area :content %>
    </div>
    <div class='form-row'>
        <%= f.label :color %>
        <%= f.select :color, [['Red','red'], ['Blue','blue'], ['Yellow','yellow']] %>
    </div>
    <%= f.submit "Add new note" %>
<% end %>
